<!--new_category.erb-->


<form action="/categories" method="post">
  <p>
    <label>New category type:</label>
    <input type="text" name="name">
  </p>

  <p>
    <input type="submit" name="" value=" Create the new category.">
  </p>
</form>